@model Taxations.Models.User

@{
    ViewBag.Title = "editProfile";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}



<style>
    #editProfileFormWrap {
        width: 800px;
        margin: 0 auto;
    }
</style>

@using (Html.BeginForm("editProfile", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal bg-white shadow contaile p-4 mt-4" id="editProfileFormWrap">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="row">
            <div class="col-md-12">
                <h4 class="text-uppercase">Update Profile</h4>
                <hr class="mt-1" />
            </div>
        </div>

        @if (ViewBag.SuccessMessage != null)
        {
            <div class="row mt-minus p-2 bg-transparent shadow m-3 mt-4 mb-3 border" id="submittingStatus">
                <div class="col-md-10">
                    <p class="p-0 m-0 p-3 font-weight-bolder text-success"><b>@ViewBag.SuccessMessage</b></p>
                </div>
                <div class="col-md-2 border">
                    <h3 id="cancelSubmittingStatus"
                        class="m-0 text-center text-danger">
                        <b style="font-size: 30px; font-weight: 900; cursor: pointer; padding-top: 15px; display: block">&times;</b>
                    </h3>
                </div>
            </div>
        }

        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { })
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-6">
                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "" })
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row mt-2">
            @Html.LabelFor(m => m.WhoYouAre, htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                <input type="text"
                       placeholder="Ex: Web App Developer"
                       min="40" name="WhoYouAre"
                       value="@Model.WhoYouAre"
                       class="form-control" />
            </div>
        </div>

        <div class="row mt-2">
            @Html.LabelFor(m => m.Bio, htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                <textarea name="Bio" class="form-control" placeholder="Ex: Lorem ipsum..." maxlength="200">@Model.Bio</textarea>
            </div>
        </div>

        <div class="row mt-2">
            @Html.LabelFor(m => m.PhotoPath, "Update New Image", htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">

                @if (Model.PhotoPath != "NO_IMAGEPATH" || !string.IsNullOrEmpty(Model.PhotoPath))
                {
                    <div class="custom-file">
                        <input type="hidden" name="PhotoPath" value="replace" />
                        <input type="file" name="file" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                    <img src="@Url.Content(Model.PhotoPath)"
                         alt="Image"
                         id="previewImg"
                         style="width: 100px;
                        height: 100px;
                        object-fit: cover"
                         class="mt-3 img- rounded rounded-circle" />
                }
            </div>
        </div>

        <div class="row mt-2 d-none">
            <div class="col-md-6">
                <lable for="EmploymentStatus">Employment Status</lable>
                <div class="mt-1">
                    <select name="EmploymentStatus" class="form-control">
                        @if (Model.EmploymentStatus == "pvt")
                        {
                            <option value="govt">Government Employee</option>
                            <option value="pvt" selected>Private Employee</option>
                        }
                        else
                        {
                            <option value="govt" selected>Government Employee</option>
                            <option value="pvt">Private Employee</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <label for="Gender">Gender</label>
                <div>
                    <select name="Gender" class="form-control">
                        @if (Model.Gender == "male")
                        {
                            <option value="male" selected>Male</option>
                            <option value="female">Female</option>
                        }
                        @if (Model.Gender == "female")
                        {
                            <option value="male">Male</option>
                            <option value="female" selected>Female</option>
                        }
                    </select>
                </div>
            </div>

            <div class="col-md-2 text-right" style="padding-top: 40px">
                <label for="IsAutistc">
                    <input type="checkbox" value="@Model.IsAutistc" name="IsAutistc" id="isautistic" />
                    Is Autistic

                    </label>
                
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 p-0 mt-2">
                <input type="submit" value="Update" class="btn btn-success btn-" />
            </div>
        </div>
    </div>
}

<script>


    $("#isautistic").change(function () {
        var ischecked = $(this).is(':checked');
        $("#isautistic").val(ischecked)
    }); 
</script>