@model Taxations.Models.BasicInformation
@using Taxations.Models

@{
    ViewBag.Title = "Basic Informations Report";
    //Layout = "~/Views/Shared/MainLayout.cshtml";
    Layout = null;

    UserInformation ui = new UserInformation();
    if (ViewBag.UserInformations != null)
    {
        ui = ViewBag.UserInformations;
    }

    User user = new User();
    if (ViewBag.User != null)
    {
        user = ViewBag.User;
    }

    ParticularsOfIncomeFromSalary poifs = new ParticularsOfIncomeFromSalary();


    if (ViewBag.ParticularsOfSalaries != null)
    {
        poifs = ViewBag.ParticularsOfSalaries;
    }

    StatementOfAsset soa = null;
    string s = null;
    if (ViewBag.StatementOfAssets != null)
    {
        soa = ViewBag.StatementOfAssets;

    }

    string a = "";
    string b = "";
    string c = "";
    string d = "";
    string it1 = "";
    string it2 = "";

    if (Model != null)
    {
        string[] schedules = Model.SchedulesAnnexed.Split(',');
        string[] statements = Model.StatementsAnnexed.Split(',');
        foreach (string schedule in schedules)
        {
            if (schedule == "24A")
            {
                a = "24A";
            }
            if (schedule == "24B")
            {
                b = "24B";
            }

            if (schedule == "24C")
            {
                c = "24C";
            }

            if (schedule == "24D")
            {
                d = "24D";
            }
        }

        foreach (string statement in statements)
        {
            if (statement.Trim() == "IT-10B2016")
            {
                it1 = "IT-10B2016";
            }
            if (statement.Trim() == "IT-10BB2016")
            {
                it2 = "IT-10BB2016";
            }
        }
    }
}


<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

    td {
        border: 1px solid black;
        border-collapse: collapse;
        font-family: 'Times New Roman', Times, serif;
        border-collapse: collapse;
    }
</style>

<table style="border:none;width:100%;">
    <tr style="border:none">
        <td style="border: none;width:33%"></td>
        <td style="border: none;width:33%">
            <p style="text-align:center">National Board of Revenue</p>
        </td>
        <td style="border: none;width:33%">
            <p style="text-align:right"><b>IT-11GA2016</b></p>
        </td>
    </tr>
</table>

<h3 style="text-align:center;padding:0px;margin:0px;margin-top:5px">
    RETURN OF INCOME
</h3>
<h3 style="text-align:center;padding:0px;margin:0px;">
    For an Individual Assessee
</h3>
<table style="width:100%"cellspacing="0" cellpadding="0">
    <tr>
        <td colspan="2" style="text-align: left">
            The following schedules shall be the integral part of this return and must be annexed <br /> to
            return in the following cases:
        </td>
        <td rowspan="5" style="width:33%; margin: 0; padding: 0;">
            @if (user.PhotoPath != "NOIMAGE_PATH")
            {
                <img src="@user.PhotoPath.Replace("~","")" style="width: 100%; height: auto;" />
            }
            else
            {
                <b><mark>Signature not provided.</mark></b>
            }
        </td>
    </tr>
    <tr>
        <td style="text-align: left"><i>Schedule 24A</i></td>
        <td><i>if you have income from Salaries</i></td>
    </tr>
    <tr>
        <td style="text-align: left"><i>Schedule 24B</i></td>
        <td><i>if you have income from house property</i></td>
    </tr>
    <tr>
        <td style="text-align: left"><i>Schedule 24C</i></td>
        <td><i>if you have income from business or profession</i></td>
    </tr>
    <tr>
        <td style="text-align: left"><i>Schedule 24D</i></td>
        <td><i>if you claim tax rebate</i></td>
    </tr>
</table>
<h3 style="text-align:center;padding:0px;margin:0px;margin-top:10px">
    Part I
</h3>
<h3 style="text-align:center;padding:0px;margin:0px;margin-bottom:5px">
    Basic Information
</h3>

<table style="width: 100%; margin-bottom: 15px"cellspacing="0" cellpadding="0">
    <tr>
        <td style="width: 4%">01</td>
        <td style="width: 46%">
            Assessment Year 
            <br/> 
            <div id="assessmentYear">
                @Model.AssessmentYear
            </div>
        </td>
        <td style="width: 4%">02</td>
        <td style="padding: 0; margin-bottom: 0;width: 46%">
            <div style="border-bottom: 1px solid black;margin: 0; padding: 7px;">
                Return submitted under section 82BB? (tick one) @ui.ReturnSubmitted
            </div>
            @if (ui.ReturnSubmitted == "Yes")
            {
                <div style="width: 100%;">
                    <div style="width: 49%;float: left;border-right: 1px solid">
                        <div style="width: 45%;float: left; padding: 5px">Yes</div>
                        <div style="width: 45%;float: right;padding: 5px">
                            <input style="float: right" type="checkbox" id="scales" name="scales" checked>
                        </div>
                    </div>
                    <div style="width: 49%;float: left;">
                        <div style="width: 45%;float: left; padding: 5px">No</div>
                        <div style="width: 45%;float: right;padding: 5px">
                            <input style="float: right" type="checkbox" id="scales" name="scales">
                        </div>
                    </div>
                </div>
            }
            @if (ui.ReturnSubmitted == "No")
            {
                <div style="width: 100%;">
                    <div style="width: 49%;float: left;border-right: 1px solid">
                        <div style="width: 45%;float: left; padding: 5px">Yes</div>
                        <div style="width: 45%;float: right;padding: 5px">
                            <input style="float: right" type="checkbox" id="scales" name="scales">
                        </div>
                    </div>
                    <div style="width: 49%;float: left;">
                        <div style="width: 45%;float: left; padding: 5px">No</div>
                        <div style="width: 45%;float: right;padding: 5px">
                            <input style="float: right" type="checkbox" id="scales" name="scales" checked>
                        </div>
                    </div>
                </div>
            }

        </td>
    </tr>
    <tr>
        <td style="width: 4%">03</td>
        <td style="width: 46%">Name of the Assessee: @ui.NameOfAssessee</td>
        <td style="width: 4%">04</td>
        <td style="width: 46%">Gender (tick one): @ui.Gender</td>
    </tr>

    <tr>
        <td style="width: 4%">05</td>
        <td style="width: 46%">Twelve-digit TIN: @ui.NewTIN</td>
        <td style="width: 4%">06</td>
        <td style="width: 46%">Old TIN: @ui.OldTIN</td>
    </tr>
    <tr>
        <td style="width: 4%">07</td>
        <td style="width: 46%">Circle: @ui.Circle</td>
        <td style="width: 4%">08</td>
        <td style="width: 46%">Zone: @ui.Zone</td>
    </tr>

    

    <tr style="padding: 0">
        <td style="width: 4%">09</td>
        <td colspan="1" style="width: 46%;padding: 0">Resident Status</td>
        <td colspan="2" style="text-align: left;padding: 0 !important">
            pppp
        </td>
    </tr>

    <tr style="width: 100%; border: none">
        <td style="width: 4%">10</td>
        <td colspan="3" style="padding: 0;">
            <table style="width: 100%;">
                <tr style="border: none">
                    <td colspan="4" style="border: none; text-align: left;">Tick on the box(es) below if you are:</td>
                </tr>
                <tr style="width: 100%">
                    <td style="border-bottom: none;width: 4%;border-left: none;">10A</td>
                    <td style="width:44% ">A gazetted war-wounded freedom fighter</td>
                    <td style="width:4% ">10B</td>
                    <td>A person with disability</td>
                </tr>
                <tr style="width: 100%">
                    <td style="border-left: none; border-bottom: none;width: 4%">10C</td>
                    <td style="border-bottom: none;width:44%">Aged 65 years or more</td>
                    <td style="border-bottom: none;width:4% ">10D</td>
                    <td style="border: none">
                        A parent/legal guardian of a person
                        with disability
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td style="width: 4%">11</td>
        <td style="width: 46%">Date of birth (DD-MM-YYYY): @ui.DateOfBirth</td>
        <td style="width: 4%">12</td>
        <td style="width: 46%">Income Year: @ui.IncomeYearFrom | @ui.IncomeYearTo</td>
    </tr>

    <tr>
        <td>13</td>
        <td colspan="1">If employed, employer’s name</td>
        <td colspan="2" style="text-align: left;">Yes</td>
    </tr>

    <tr>
        <td>14</td>
        <td>Spouse Name <br>@ui.SpouseName</td>
        <td>15</td>
        <td>Spouse TIN (if any) <br>@ui.SpouseTIN</td>
    </tr>
    <tr>
        <td>16</td>
        <td>Father’s Name <br>@ui.FatherName</td>
        <td>17</td>
        <td>Mother’s Name <br>@ui.MotherName</td>
    </tr>
    <tr>
        <td>18</td>
        <td>Present Address <br>@ui.PresentAddress</td>
        <td>19</td>
        <td>Permanent Address <br>@ui.PermanentAddress</td>
    </tr>
    <tr>
        <td>20</td>
        <td>Contact Telephone <br>@ui.ContactTelephone</td>
        <td>21</td>
        <td>E-mail <br>@ui.Email</td>
    </tr>

    <tr>
        <td>22</td>
        <td>National Identification Number <br>@ui.NID</td>
        <td>23</td>
        <td>Business Identification Number(s) <br>@ui.BIN</td>
    </tr>
</table>

<h3 style="text-align:center;padding:0px;margin:0px;margin-top:5px">
    Part II
</h3>
<h3 style="text-align:center;padding:0px;margin:0px;margin-bottom:5px">
    Particulars of Income and Tax
</h3>

<table class="page2Table">
    <tr>
        <th colspan="3" style="text-align: left;">Particulars of Total Income</th>
        <th>Amount</th>
    </tr>
    <tr>
        <td>24</td>
        <td>Salaries (annex Schedule 24A)</td>
        <td>S.21</td>
        <td style="text-align: center;">@poifs.Total</td>
    </tr>
    <tr>
        <td>25</td>
        <td>Interest on securities</td>
        <td>S.22</td>
        <td style="text-align: center;">@Model.InterestOnSecurities</td>
    </tr>
    <tr>
        <td>26</td>
        <td>Income from house property (annex Schedule 24B)</td>
        <td>S.24</td>
        <td style="text-align: center;">@Model.IncomeFromHouseProperty</td>
    </tr>
    <tr>
        <td>27</td>
        <td>Agricultural income</td>
        <td>S.26</td>
        <td style="text-align: center;">@Model.AgriculturalIncome</td>
    </tr>
    <tr>
        <td>28</td>
        <td>Income from business or profession (annex Schedule 24C)</td>
        <td>S.28</td>
        <td style="text-align: center;">@Model.IncomeFromBusinessOrProfession</td>
    </tr>
    <tr>
        <td>29</td>
        <td>Capital gains</td>
        <td>S.31</td>
        <td style="text-align: center;">@Model.CapitalGains</td>
    </tr>
    <tr>
        <td>30</td>
        <td>Income from other sources</td>
        <td>S.33</td>
        <td style="text-align: center;">@Model.IncomeFromOtherSources</td>
    </tr>

    <tr>
        <td>31</td>
        <td>Share of income from firm or AOP</td>
        <td colspan="2" style="text-align: right; padding-right: 17px">@Model.ShareOfIncomeFromFirmOrAOP</td>
    </tr>
    <tr>
        <td>32</td>
        <td>Income of minor or spouse under section 43(4)</td>
        <td>S.43</td>
        <td style="text-align: center;">@Model.IncomeFromOtherSources</td>
    </tr>
    <tr>
        <td>33</td>
        <td>Foreign income</td>
        <td colspan="2" style="text-align: right; padding-right: 17px">@Model.ForeignIncome</td>
    </tr>
    <tr>
        <td>34</td>
        <td>Total income (aggregate of 24 to 33)</td>
        <td colspan="2" style="text-align: right; padding-right: 17px">@Model.TotalIncome</td>
    </tr>
</table>

<table class="page2Table"cellspacing="0" cellpadding="0">
    <tr>
        <th colspan="3" style="text-align: left;">Tax Computation and Payment</th>
        <th>Amount</th>
    </tr>

    <tr>
        <td>35</td>
        <td>Gross tax before tax rebate</td>
        <td colspan="2" style="text-align: right; padding-right: 17px">@Model.GrossTaxBeforeTaxRebate</td>
    </tr>
    <tr>
        <td>36</td>
        <td>Tax rebate (annex Schedule 24D)</td>
        <td colspan="2" style="text-align: right; padding-right: 17px">@Model.TaxRebate</td>
    </tr>
    <tr>
        <td>37</td>
        <td>Net tax after tax rebate</td>
        <td colspan="2" style="text-align: right; padding-right: 17px">@Model.NetTaxAfterTaxRebate</td>
    </tr>

    <tr>
        <td>38</td>
        <td>Minimum tax</td>
        <td colspan="2" style="text-align: right; padding-right: 17px">@Model.MinimumTax</td>
    </tr>
    <tr>
        <td>39</td>
        <td>Net wealth surcharge</td>
        <td colspan="2" style="text-align: right; padding-right: 17px">@Model.NetWealthSurcharge</td>
    </tr>
    <tr>
        <td>40</td>
        <td>Interest or any other amount under the Ordinance (if any)</td>
        <td colspan="2" style="text-align: right; padding-right: 17px">@Model.InterestOrOrdinance</td>
    </tr>
    <tr>
        <td>41</td>
        <td>Total amount payable</td>
        <td colspan="2" style="text-align: right; padding-right: 17px">@Model.TotalAmountPayable</td>
    </tr>
    <tr>
        <td>42</td>
        <td>Tax deducted or collected at source (attach proof)</td>
        <td colspan="2" style="text-align: right; padding-right: 17px">@Model.TaxDeducted</td>
    </tr>
    <tr>
        <td>43</td>
        <td>Advance tax paid (attach proof)</td>
        <td colspan="2" style="text-align: right; padding-right: 17px">@Model.AdvanceTaxPaid</td>
    </tr>
    <tr>
        <td>44</td>
        <td>Adjustment of tax refund [mention assessment year(s) of refund]</td>
        <td colspan="2" style="text-align: right; padding-right: 17px">@Model.AdjustmentOfTaxRefund</td>
    </tr>
    <tr>
        <td>45</td>
        <td>Amount paid with return (attach proof)</td>
        <td colspan="2" style="text-align: right; padding-right: 17px">@Model.AmountPaidWithReturn</td>
    </tr>
    <tr>
        <td>46</td>
        <td>Total amount paid and adjusted (42+43+44+45)</td>
        <td colspan="2" style="text-align: right; padding-right: 17px">@Model.TotalAmountPaidAndAdjusted</td>
    </tr>

    <tr>
        <td>47</td>
        <td>Deficit or excess (refundable) (41-46)</td>
        <td colspan="2" style="text-align: right; padding-right: 17px">@Model.DeficitOrExcess</td>
    </tr>
    <tr>
        <td>48</td>
        <td>Tax exempted income</td>
        <td colspan="2" style="text-align: right; padding-right: 17px">@Model.TaxExemptedIncome</td>
    </tr>
</table>

<h3 style="text-align:center;padding:0px;margin:0px;margin-top:5px">
    Part III
</h3>
<h3 style="text-align:center;padding:0px;margin:0px;margin-bottom:5px">
    Instruction, Enclosures and Verification
</h3>

<table class="page3Table" style="margin-top: 60px; margin-bottom: 80px;"cellspacing="0" cellpadding="0">
    <tr style="padding: 20px">
        <td>49</td>
        <td colspan="5">
            <b>Instructions:</b> <br>

            1. Statement of assets, liabilities and expenses (IT-10B2016) and statement of life style expense
            (IT-10BB2016) must be furnished with the return unless you are exempted from furnishing such statement(s)
            under section 80. <br>

            2. Proof of payments of tax, including advance tax and withholding tax and the proof of investment for tax
            rebate must be provided along with return. <br>

            3. Attach account statements and other documents where applicable.
        </td>
    </tr>

    <tr>
        <td>50</td>
        <td colspan="4">
            If you are a parent of a person with disability, has your spouse availed the extended tax exemption
            threshold? (tick
            one)
        </td>
        <td style="padding: 0 !important; width: 300px">
            @if (Model.IsParentOfPersonWithDisability == "yes")
            {
                <div style="width: 49%; border-right: 1px solid; float: left">
                    Yes <input type="checkbox" value="yes" checked />
                </div>

                <div style="width: 49%; float: left">
                    No <input type="checkbox" value="no" />
                </div>
            }

            @if (Model.IsParentOfPersonWithDisability == "no")
            {
                <div style="width: 49%; border-right: 1px solid; float: left">
                    Yes <input type="checkbox" value="yes" />
                </div>

                <div style="width: 49%; float: left">
                    No <input type="checkbox" value="no" checked />
                </div>
            }
        </td>
    </tr>

    <tr style="width: 100%">
        <td>51</td>
        <td colspan="4">
            Are you required to submit a statement of assets, liabilities and expenses (IT-10B2016) under section 80(1)?
            (tick one)
        </td>

        <td style="padding: 0 !important; width: 300px">
            @if (Model.AreYouRequiredToSubmitStatementOfAssets == "yes")
            {
                <div style="width: 49%; border-right: 1px solid; float: left">
                    Yes <input type="checkbox" value="yes" checked />
                </div>

                <div style="width: 49%; float: left">
                    No <input type="checkbox" value="no" />
                </div>
            }

            @if (Model.AreYouRequiredToSubmitStatementOfAssets == "no")
            {
                <div style="width: 49%; border-right: 1px solid; float: left">
                    Yes <input type="checkbox" value="yes" />
                </div>

                <div style="width: 49%; float: left">
                    No <input type="checkbox" value="no" checked />
                </div>
            }
        </td>
    </tr>

    <tr style="width: 100%">
        <td style="width: 5%">52</td>
        <td style="width: 44%">Schedules annexed (tick all that are applicable)</td>
        <td style="width: 12.5%">
            @if (a.Length > 0)
            {
                <span>24A <input type="checkbox" checked /></span>
            }
            else
            {
                <span>24A <input type="checkbox" /></span>
            }
        </td>
        <td style="width: 12.5%">
            @if (b.Length > 0)
            {
                <span>24B <input type="checkbox" checked /></span>
            }
            else
            {
                <span>24B <input type="checkbox" /></span>
            }
        </td>
        <td style="width: 12.5%">
            @if (c.Length > 0)
            {
                <span>24C <input type="checkbox" checked /></span>
            }
            else
            {
                <span>24C <input type="checkbox" /></span>
            }
        </td>
        <td style="width: 12.5%;">
            @if (d.Length > 0)
            {
                <span>24D <input type="checkbox" checked /></span>
            }
            else
            {
                <span>24D <input type="checkbox" /></span>
            }
        </td>
    </tr>

    <tr>
        <td>53</td>
        <td colspan="3" style="width: 300px">Statements annexed (tick all that are applicable)</td>
        <td style="width: 250px">
            @if (it1.Length > 0)
            {
                <span>IT-10B2016 <input type="checkbox" checked /></span>
            }
            else
            {
                <span>IT-10B2016 <input type="checkbox" /></span>
            }
        </td>
        <td style="width: 250px">
            @if (it2.Length > 0)
            {
                <span>IT-10BB2016 <input type="checkbox" checked /></span>
            }
            else
            {
                <span>IT-10BB2016 <input type="checkbox" /></span>
            }
        </td>
    </tr>

    <tr>
        <td>54</td>
        <td colspan="4">Other statements, documents, etc. attached (list all)</td>
        <td>@Model.OtherStatementsDocuments</td>
    </tr>
</table>

<table class="page3Table" style="margin-top: 40px; margin-bottom: 50px"cellspacing="0" cellpadding="0">
    <tr>
        <td colspan="3"><b>Verification and signature</b></td>
    </tr>
    <tr>
        <td>55</td>
        <td colspan="">
            <p style="padding-top: 20px">
                I solemnly declare that to the best of my knowledge and belief the information given in this return and
                statements and documents annexed or attached herewith are correct and complete.
            </p>

            <table style="margin-top: 20px; margin-bottom: 30px">
                <tr>
                    <td style="text-align: left;">Name <br>@ui.NameOfAssessee</td>
                    <td>
                        Signature <br />
                        @if (Model.Signature != "NOIMAGE_PATH")
                        {
                            <img src="@Model.Signature.Replace("~","")"
                                 style="width: 100px; height: 80px; margin-top: 10px" />
                        }
                        else
                        {
                            <b><mark>Signature not provided.</mark></b>
                        }
                    </td>
                </tr>

                <tr>
                    <td style="text-align: left;">Date of Signature (DD-MM-YYYY) <br />@Model.DateOfSignature</td>
                    <td>Place of Signature <br />@Model.PlaceOfSignatur</td>
                </tr>
            </table>
        </td>

    </tr>
</table>

<table class="page3Table" style="margin-top: 80px; margin-bottom: 150px">
    <tr>
        <td colspan="2"><b>For official use only</b><br> Return Submission Information</td>
    </tr>
    <tr>
        <td>Date of Submission (DD-MM-YYYY) <br />@Model.DateOfSubmition</td>
        <td>Tax Office Entry Number <br />@Model.TaxOfficeEntryNumber</td>
    </tr>
</table>

<div style="margin-top: 30px;">
    <p>
        National Board of Revenue
        <br> www.nbr.gov.bd

        <b style="float: right;">Individual</b>
    </p>
</div>

<table style="margin-top: 40px;"cellspacing="0" cellpadding="0">
    <tr style="width: 100%; padding: 0">
        <td style="width: 49%; border-right: 1px solid; text-align: left;">Assessment Year <br>@ui.AssessmentYear</td>
        <td style="padding: 0; margin-bottom: 0; width: 50%; float: right;">

            <div style="border-bottom: 1px solid black;margin: 0">
                Return submitted under section 82BB? (tick one) @ui.ReturnSubmitted
            </div>
            @if (ui.ReturnSubmitted == "Yes")
            {

                <div style="margin: 0; width: 100%">
                    <span style="width: 49%; float: left;border-right: 1px solid">
                        @ui.ReturnSubmitted <input type="checkbox" id="scales" name="scales" checked>
                    </span>
                    <span style="width: 50%; float: right;">
                        No <input type="checkbox" id="scales" name="scales">
                    </span>
                </div>
            }
            @if (ui.ReturnSubmitted == "No")
            {
                <div style="margin: 0; width: 100%">
                    <span style="width: 49%; float: left;border-right: 1px solid">
                        Yes <input type="checkbox" id="scales" name="scales">
                    </span>
                    <span style="width: 50%; float: right;">
                        @ui.ReturnSubmitted <input type="checkbox" id="scales" name="scales" checked>
                    </span>
                </div>
            }

        </td>
    </tr>
    <tr>
        <td style="text-align: left">Name of the Assessee <br>@ui.NameOfAssessee</td>
        <td>Gender (tick one) <br>@ui.Gender</td>
    </tr>

    <tr>
        <td style="text-align: left">Twelve-digit TIN <br>@ui.NewTIN</td>
        <td>Old TIN <br>@ui.OldTIN</td>
    </tr>
    <tr>
        <td style="text-align: left">Circle <br>@ui.Circle</td>
        <td>Zone <br>@ui.Zone</td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: left">
            Total income shown (serial 34)
            <br />
            @Model.Salaries
        </td>
    </tr>
    <tr>
        <td style="text-align: left">Amount payable (serial 41) <br>@Model.TotalAmountPayable</td>
        <td>Amount paid and adjusted (serial 46) <br>@Model.TotalAmountPaidAndAdjusted</td>
    </tr>
    <tr>
        <td style="text-align: left">Amount of net wealth shown in IT10B2016 <br>@soa.NetWealth16</td>
        <td>Amount of net wealth surcharge paid <br>@Model.NetWealthSurcharge</td>
    </tr>
    <tr>
        <td style="text-align: left">Date of Submission (DD-MM-YYYY) <br>@String.Format("{0:dd/MM/yyyy}", Model.DateOfSubmition) </td>
        <td>Tax Office Entry Number <br>@Model.TaxOfficeEntryNumber</td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: left">
            Signature and seal of the official receiving the return
            <br />
            <br />
            <br />
            <br />

        </td>
    </tr>
    <tr>
        <td style="text-align: left">Date of Signature : <br>@Model.DateOfSignature</td>
        <td>Contact Number of Tax Office <br></td>
    </tr>
</table>
