<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <link href="@Url.Content("~/Content/ContainerCSS/BasicInformation.css")" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Maven+Pro&display=swap" rel="stylesheet">
    <script src="@Url.Content("~/Scripts/Main.js")"></script>
</head>
<body>

    <div id="help"></div>
    <div id="helpDetails">
        <div class="details">
            <h3 class="text-center text-white" style="margin: 20px 0 0">Some Instructions will be render here.</h3>
        </div>
    </div>

    <header id="topMenu">
        @Html.Partial("~/views/components/topMenu.cshtml", null)
    </header>
    <br />

    @Html.Partial("~/views/components/TopHamBurgerDropDown.cshtml", null)

    @Html.Partial("~/views/components/taxationHeader.cshtml", null)


    <div class="custom-container">
        @Html.Partial("~/views/components/LeftFeedsMenu.cshtml", null)
        <div class="render-body">
            @RenderBody()
            @Html.Partial("~/views/components/footer.cshtml", null)
        </div>

    </div>

    <script src="@Url.Content("~/Scripts/render-body-content-scripts.js")"></script>
</body>
</html>
